@CHARSET "UTF-8";

@font-face{
    font-family:"Gill Sans";
    font-weight:100;
    font-style:normal;
    src:  url('../fonts/gillsans_light.eot');
    src:  local("Gill Sans Light"),
          url('../fonts/gillsans_light.eot?') format('eot'),
          url('../fonts/gillsans_light.woff') format('woff'),
          url('../fonts/gillsans_light.ttf') format('truetype');
}

@font-face{
    font-family:"Gill Sans";
    font-weight:bold;
    font-style:normal;
    src:  url('../fonts/gillsans_bold.eot');
    src:  local("Gill Sans Bold"),
		  url('../fonts/gillsans_bold.eot?') format('eot'),
          url('../fonts/gillsans_bold.woff') format('woff'),
          url('../fonts/gillsans_bold.ttf') format('truetype');
}

@font-face{
    font-family:"Gill Sans";
    font-weight:normal;
    font-style:normal;
    src:  url('../fonts/gillsans.eot');
    src:  local("Gill Sans Normal"),
		  url('../fonts/gillsans.eot?') format('eot'),
          url('../fonts/gillsans.woff') format('woff'),
          url('../fonts/gillsans.ttf') format('truetype');
}