@CHARSET "UTF-8";

#changePasswordBox .alert_box {
	height:234px;
	margin-top:-137px;
	width:300px;
	margin-left:-170px;
}

#changePasswordBox, #changePasswordBox .alert_box .field label {
	text-align:center;
}

#changePasswordBox form {
	display:inline-block;
}

#changePasswordBox form .field {
	text-align:left;	
}